/* Scoped styles for ContractList Table */

/* Hide native scrollbar */
.contract-list-table .ant-table-body::-webkit-scrollbar,
.contract-list-table .ant-table-content::-webkit-scrollbar {
    display: none;
}

.contract-list-table .ant-table-body,
.contract-list-table .ant-table-content {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE/Edge */
}